<div class="d-flex flex-column flex-shrink-0 p-3 bg-light border-end" style="height: 100vh;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link active mb-2" aria-current="page">
                <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/market-rates" routerLinkActive="active" class="nav-link link-dark mb-2">
                <i class="bi bi-currency-exchange me-2"></i> Market Rates
            </a>
        </li>
        <li>
            <a routerLink="/inventory" routerLinkActive="active" class="nav-link link-dark mb-2">
                <i class="bi bi-box-seam me-2"></i> Inventory
            </a>
        </li>
        <li>
            <a routerLink="/vendors" routerLinkActive="active" class="nav-link link-dark mb-2">
                <i class="bi bi-people me-2"></i> Vendors
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <span class="d-flex align-items-center link-dark text-decoration-none">
            <strong>Settings</strong>
        </span>
    </div>
</div>